@import url(//font.elice.io/EliceDigitalBaeum.css);
html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
}
body {
  margin: 0;
  font-family: "Elice Digital Baeum", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Elice Digital Baeum", sans-serif;
}
